<!doctype hmtl>
<html ng-app="CustomDirective">
<head>
    <style type="text/css" media="screen">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
      }

      .circular{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: inline-block;
        background-color: green;
      }
      .no-list li{
        list-style-type: none;
      }
      body,html{
        text-align: center;
        background-color: #eee;
        margin: 0px;
      }

  </style>
  
  <link rel="stylesheet" type="text/css" href="autocomplete-jquery-ui.structure.css">
  <meta charset="utf-8"/>
  <title>Directivas</title>
</head>
<body ng-controller="AppCtrl" ng-cloak>
    <input type="text" my-autocomplete="repos" placeholder="Buscar repositorio">
    <ul class="no-list" >
        <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo!=repo.name">
            <div class="circular" back-img="{{repo.owner.avatar_url}}" ></div>
            <h1>{{repo.name}}</h1>
        </li>
    </ul>
    <a ng-click="main_repo=null">Limpiar</a>
</body>
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script src="../angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
<script src="controller.js"></script>
<script src="autocomplete-jquery-ui.js"></script>
</html>